//1200 large desktop
//768 tablet
//480 iphone


/* responsive top nav start*/
header {
  width: 100%;
  .navbar{
    height: 18vh;
    margin: 0;
    border: 0;
    box-shadow: 3px 3px 5px 6px rgba(123, 115, 115, 0.4);
    .logo-container{
      height: 8vh;
      width: 10rem;
      position: absolute;
      left: 2rem;
      .mobile-logo{
        display: inline-block;
        padding-top: 1rem;
        height: 100%;
        position: absolute;
        left: 0;
      }
    .desktop-logo{
      display: none;
    }
    @media screen and (min-width: 481px){
          .desktop-logo{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
          }
          .mobile-logo {
            display: none;
          }
        }
      @media screen and (min-width: 1200px){
        .desktop-logo{
          width: 30vw;
        }
      }
      }
      @media screen and (min-width: 481px){
            .logo-container {
              width: 15rem;
              position: absolute;
              left: 2rem;
            }
          }
      @media screen and (min-width: 1200px){
          .logo-container {
            width: 80rem;
            height: 8rem;
            position: absolute;
            top: 1rem;
          }
      }
    .top-nav {
      height: 8vh;
      width: 60%;
      position: absolute;
      right: 2rem;
      display: flex;
      box-sizing: border-box;
      .nav-icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: teal;
        i {
          display: flex;
          justify-content: center;
          height: .5rem;
          padding-top: 1rem;
        }
        @media screen and (min-width: 1200px){
          .hamburger {
            display: none;
          }
        }
      }
      @media screen and (min-width: 1200px){
        .nav-icons {
          display: flex;
          justify-content: space-between;
          width: 25%;
          position: absolute;
          color: teal;
          right: 0;
        }
      }
      .lrg-dsktp-icon-nav {
        display: none;
      }
      @media screen and (min-width: 1200px){
          .lrg-dsktp-icon-nav {
            display: flex;
            width: 95%;
            position: absolute;
            right: .25%;
            top: 75%;
            justify-content: space-between;
            align-items: flex-end;
        }
      }
    }
    @media screen and (min-width: 768px){
      .top-nav {
        width: 30%;
      }
    }
    @media screen and (min-width: 1200px){
      .top-nav {
        width: 55%;
        height: 13.5vh;
        display: flex;
      }
    }
  .nav-search-container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background-color: grey;
    .flex-container{
      display: flex;
    .input-group{
      display: inline;
      .mobile-search-bar{
        border-radius: 0;
        width: 70%;
        font-size: 140%;
      }
      .search-icon-button {
        border: none;
        background-color: teal;
        width: 100%;
        max-height: 3.5rem;
        .search-icon {
          color: white;
          fill: white;
          width: 20%;
          max-height: 2.5rem;
        }
      }
    }
      .desktop-search {
        display: none;
      }
      @media screen and (min-width: 768px){
        .mobile-search {
          display: none;
        }
        .desktop-search{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dsktp-srch-container {
            display: flex;
            justify-content: space-between;
            .search-button {
              color: white;
              border: none;
              background-color: teal;
              font-size: 1.75rem;
            }
          }
          .dsktp-sub-nav-container {
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 3%;
            width: 50%;
            a {
              text-decoration: underline;
              color: white;
              font-size: 1.25rem;
            }
          }
        }
        .desktop-search-bar {
          width: 90%;
        }
      }
    }
  }
}
@media screen and (min-width: 1200px){
    .navbar {
      height: 23vh;
    }
}
}
/* responsive top nav end*/

/* agent info start  */
.agent-info-container{
  background-color: lightgrey;
  .agent-detail-container{
    display: flex;
    flex-direction: column;
    .agent-img {
      border: 0;
      margin-top: 2%;
      width: 70%;
    }
    .name-container {
      height: 30%;
    }
    .hero-i-container{
      height: 30%;
    }
  }
  @media screen and (min-width: 480px){
    .agent-detail-container{
      flex-direction: row;
    }
  }
}
/* agent info end */

/* agent content start */

.content-container {
  .content-tab{
    display: none;
  }
}

/* agent content end */

 /* footer start */
 footer {
   width:100%;
   background-color: teal;
   color: white;
   height: 20vh;
   .footer-contact-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     position: absolute;
     width: 100%;
     height: 10rem;
     .footer-phn-address {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       height: 4rem;
       width: 100%;
       i {
         font-size: 1.5rem;
       }
       .footer-phn {
         font-size: 1.5rem;
       }
       .footer-address {
         font-size: 1.25rem;
       }
       @media screen and (min-width: 481px){
         .footer-address{
           font-size: 1rem;
         }
       }
     }
     @media screen and (min-width: 481px){
       .footer-phn-address {
         display: flex;
         align-items: flex-start;
         width: 95%;

       }
     }
     .footer-i-container {
       display: flex;
       justify-content: space-between;
       width: 75%;
     }
     @media screen and (min-width: 481px){
       .footer-i-container {
         display: flex;
         align-items: flex-start;
         width: 95%;

       }
     }
   }
   @media screen and (min-width: 481px){
     .footer-contact-container {
       width: 45%;
       left: 1rem;
     }
   }
   .footer-link-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     .footer-links {
       display: flex;
       justify-content: space-between;
       width: 75%;
       font-size: 1.2rem;
       a {
         color: white;
       }
     }
     @media screen and (min-width: 481px){
       .footer-links {
         width: 100%;
         font-size: 1.1rem;
       }
     }
     .footer-cpyrght{
       display: flex;
       justify-content: flex-end;
       width: 100%;
       font-size: 1rem;

     }
     .footer-logos {

     }
     @media screen and (min-width: 481px){
       .footer-logos {
         display: flex;
         justify-content: flex-end;
         width: 100%;
       }
     }
   }
   @media screen and (min-width: 481px){
     .footer-link-container {
       width: 45%;
       right: 1rem;
     }
   }
 }
   @media screen and (min-width: 481px){
     footer {
       top: 78rem;
       height: 10rem;
       }
     }
 /* footer end */
