//1200 large desktop
//768 tablet
//480 iphone


/* responsive top nav start*/
header {
  width: 100%;
  .navbar{
    height: 18vh;
    margin: 0;
    border: 0;
    box-shadow: 3px 3px 5px 6px rgba(123, 115, 115, 0.4);
    .logo-container{
      height: 8vh;
      width: 10rem;
      position: absolute;
      left: 2rem;
      .mobile-logo{
        display: inline-block;
        padding-top: 1rem;
        height: 100%;
        position: absolute;
        left: 0;
      }
    .desktop-logo{
      display: none;
    }
    @media screen and (min-width: 481px){
          .desktop-logo{
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
          }
          .mobile-logo {
            display: none;
          }
        }
      @media screen and (min-width: 1200px){
        .desktop-logo{
          width: 30vw;
        }
      }
      }
      @media screen and (min-width: 481px){
            .logo-container {
              width: 15rem;
              position: absolute;
              left: 2rem;
            }
          }
      @media screen and (min-width: 1200px){
          .logo-container {
            width: 80rem;
            height: 8rem;
            position: absolute;
            top: 1rem;
          }
      }
    .top-nav {
      height: 8vh;
      width: 60%;
      position: absolute;
      right: 2rem;
      display: flex;
      box-sizing: border-box;
      .nav-icons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: teal;
        i {
          display: flex;
          justify-content: center;
          height: .5rem;
          padding-top: 1rem;
        }
        @media screen and (min-width: 1200px){
          .hamburger {
            display: none;
          }
        }
      }
      @media screen and (min-width: 1200px){
        .nav-icons {
          display: flex;
          justify-content: space-between;
          width: 25%;
          position: absolute;
          color: teal;
          right: 0;
        }
      }
      .lrg-dsktp-icon-nav {
        display: none;
      }
      @media screen and (min-width: 1200px){
          .lrg-dsktp-icon-nav {
            display: flex;
            width: 82%;
            position: absolute;
            right: .25%;
            top: 75%;
            justify-content: space-between;
            align-items: flex-end;
        }
      }
    }
    @media screen and (min-width: 768px){
      .top-nav {
        width: 25%;
      }
    }
    @media screen and (min-width: 1200px){
      .top-nav {
        width: 55%;
        height: 13.5vh;
        display: flex;
      }
    }
  .nav-search-container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background-color: grey;
    .flex-container{
      display: flex;
    .input-group{
      display: inline;
      .mobile-search-bar{
        border-radius: 0;
        width: 70%;
        font-size: 140%;
      }
      .search-icon-button {
        border: none;
        background-color: teal;
        width: 100%;
        max-height: 3.5rem;
        .search-icon {
          color: white;
          fill: white;
          width: 20%;
          max-height: 2.5rem;
        }
      }
    }
      .desktop-search {
        display: none;
      }
      @media screen and (min-width: 768px){
        .mobile-search {
          display: none;
        }
        .desktop-search{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dsktp-srch-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .search-button {
              color: white;
              border: none;
              background-color: teal;
              font-size: 1.75rem;
            }
            @media screen and (min-width: 1200px){
              .search-button{
                padding: 6px 45px;
              }
            }
          }
          .dsktp-sub-nav-container {
            display: flex;
            justify-content: space-between;
            position: absolute;
            right: 3%;
            width: 45%;
            a {
              text-decoration: underline;
              color: white;
              font-size: 1.25rem;
            }
            @media screen and (min-width: 1200px){
              a{
                font-size: 1.5rem;
              }
            }
          }
          @media screen and (min-width: 1200px){
            .dsktp-sub-nav-container{
              right: 7%;
              width: 40%;
            }
          }
        }
        @media screen and (min-width: 1200px){
          .desktop-search {
            width:26%;
          }
        }
        .desktop-search-bar {
          width: 90%;
          border-radius: 0;
        }
      }
    }
    @media screen and (min-width: 1200px){
      .flex-container{
        padding: 0 7%;
      }
    }
  }
}
@media screen and (min-width: 1200px){
    .navbar {
      height: 23vh;
    }
}
}
/* responsive top nav end*/

/* agent info start  */
.agent-info-container{
  background-color: lightgrey;
  .agent-detail-container{
    display: flex;
    flex-direction: column;
    .agent-img {
      border: 0;
      margin-top: 2%;
      width: 70%;
    }
    @media screen and (min-width: 768px){
      .agent-img {
        width: 100%;
        margin-top: 0;
      }
    }
    .agent-img-container{

    }
    @media screen and (min-width: 768px){
      .agent-img-container {
        width: 23%;
        margin-right: 3%;
      }
    }
    @media screen and (min-width: 1200px){
      .agent-img-container {
        margin-right: 0;
        margin-left: 6%;
        width: 20%;
      }
    }
    .name-container {
      height: 30%;
      .agent-name {
        font-weight: normal;
        font-size: 5rem;
        margin-bottom: 0;
        width: 100%;
        margin-top: 5%;
      }
      @media screen and (min-width: 768px){
        .agent-name {
          font-size: 3rem;
        }
      }
      @media screen and (min-width: 1200px){
        .agent-name {
          font-size: 4rem;
          margin-top: 15%;
        }
      }
      .realtor-cpyrght {
        font-weight: normal;
        font-size: 2rem;
        color: grey;
        margin-top: .5rem;
        margin-bottom: 2rem;
      }
      @media screen and (min-width: 768px){
        .realtor-cpyrght {
          font-size: 1.5rem;
          margin-top: 2rem;
          margin-bottom: 3.25rem;
        }
      }
      @media screen and (min-width: 1200px){
        .realtor-cpyrght{

        }
      }
      .contact-btn{
        width: 100%;
        background-color: teal;
        color: white;
        height: 8vh;
        font-size: 3rem;
        margin-bottom: 2rem;
        border-radius: 5px;
      }
      @media screen and (min-width: 768px){
        .contact-btn {
          font-size: 2rem;
          height: 6vh;
          margin-bottom: 1rem;
        }
      }
      .hero-i-container{
        height: 30%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }
      @media screen and (min-width: 768px){
        .hero-i-container {
          margin-bottom: 0;
        }
      }
    }
    @media screen and (min-width: 768px){
      .name-container {
        width: 29%;
        margin-left: 1%;
        margin-right:5%;
        height: auto;
      }
    }
    @media screen and (min-width: 1200px){
      .name-container {
        padding-left: 8%;
        padding-top: 1%;
      }
    }
    .hero-contact-container{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between;
      color: teal;
      height: 30vh;
      i:nth-of-type(4n){
        margin-bottom: 7%;
      }
        .phn-icn-space{
          padding-right: 5%;
        }
        .dsktp-icn-space{
          padding-right: 2%;
        }
        .bldng-icn-space{
          padding-right: 4%;
        }
        .nwpr-icn-space{
          padding-right: 2%;
          padding-bottom: 10%;
        }
        .hero-text{
          font-size: 75%;
        }
      }
      @media screen and (min-width: 768px){
        .hero-contact-container {
          height: 30vh;
          width: 38%;
          margin-top: 1.5%;
        }
      }
      @media screen and (min-width: 1200px){
        .hero-contact-container{
          margin-top: 5%;
          padding-left: 10.5%;
        }
      }
    }
    @media screen and (min-width: 768px){
      .agent-detail-container{
        flex-direction: row;
      }
    }
  }

/* agent info end */

/* agent content start */

.content-container {
  display: flex;
  flex-direction: column;
  .agent-select{
    width: 100%;
    height: 7vh;
    background-color: white;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 2rem;
  }
  @media screen and (min-width: 768px){
      .agent-select{
        display: none;
        }
      }
  .content-tab{
    display: none;
  }
  @media screen and (min-width: 768px){
      .content-tab {
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 1rem;
        right: 1rem;
        .tablinks {
          height: 5rem;
          background-color: white;
          width: 25%;
          border: 2px solid lightgrey;
          border-top: none;
          border-left: none;
          border-right: none;
          font-size: 1.5rem;
          color: lightgrey;
        }
        .active {
          color: teal;
          border: 2px solid teal;
          border-top: none;
          border-left: none;
          border-right: none;
        }
        }
      }
      @media screen and (min-width: 1200px){
          .content-tab {
            padding: 0 7%;
          }
        }
  .content-block{
    font-size: 1.5rem;
  }
  @media screen and (min-width: 768px){
    .content-block {
      margin-top: 10%;
      margin-bottom: 5%;
      width: 70%;
    }
  }
  @media screen and (min-width: 1200px){
    .content-block {
      width: 65%;
    }
  }
  .designation-container {
    margin-bottom: 5%;
    .designation-heading{
      font-size: 1.75rem;
    }
    .designation {
      font-size: 1.25rem;
    }
  }
  @media screen and (min-width: 768px){
    .designation-container{
      margin: 8% 0 0 10%;
    }
  }
}
@media screen and (min-width: 768px){
  .content-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px){
  .content-container {
    padding: 0 7%;
  }
}

/* agent content end */

 /* footer start */
 footer {
   width:100%;
   background-color: teal;
   color: white;
   height: 40vh;
   .footer-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
       i {
         font-size: 1.5rem;
       }
       .footer-phn {
         font-size: 2rem;
       }
       .footer-address {
         font-size: 1.75rem;
       }
       .footer-i-container {
         display: flex;
         justify-content: space-between;
         width: 75%;
       }
     }
   .footer-link-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     width: 100%;
     height: 20vh;
     .footer-links {
       display: flex;
       justify-content: space-between;
       width: 75%;
       font-size: 1.2rem;
       text-decoration: underline;
       a {
         color: white;
       }
     }
     .footer-cpyrght{
       display: flex;
       justify-content: center;
       font-size: 1rem;

     }
     .footer-logos {

     }
   }
 }
 /* footer end */
